[flake8]
max-line-length = 80
indent-size = 2
max-complexity = 18
ignore =
  # indentation is not a multiple of four,
  E111,E114,
  # visually indented line with same indent as next logical line,
  E129,

exclude =
  .git,
  __pycache__,
  docs/source/conf.py,
  old,
  build,
  dist,
  node_modules
